body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #e0f7fa; /* Легкий голубой фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff; /* Белый фон контейнера */
    border-radius: 15px; /* Более округлые углы */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Более выразительная тень */
    padding: 20px;
}

.slider {
    background-color: #f8f8f8; /* Светлый фон слайдера */
    border: 3px solid #81d4fa; /* Светло-голубая рамка */
    border-radius: 15px; /* Округленные углы для слайдера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    overflow: hidden;
    width: 600px;
    text-align: center;
    position: relative; /* Убедитесь, что это свойство здесь */
}

.slider-display {
    position: relative;
    height: 400px;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезка изображений, чтобы достичь наилучшего эффекта */
    transition: transform 0.5s ease; /* Плавный переход между изображениями */
}

.controls {
    margin: 15px 0; /* Увеличен отступ для более просторного интерфейса */
}

.control-btn {
    background-color: #4CAF50; /* Зеленый цвет кнопок */
    color: white;
    border: none;
    padding: 12px 20px; /* Увеличено пространство внутри кнопок */
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавные переходы при наведении */
}

.control-btn:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.counter {
    margin-bottom: 10px;
    font-size: 20px; /* Увеличен размер шрифта для большей читаемости */
    font-weight: bold; /* Жирный шрифт для выделения */
    color: #555; /* Темно-серый цвет текста счетчика */
}